html {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    vertical-align: top;
}

.container {
    max-width: 1232.981689453125px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    z-index:-10 ;
    overflow-x: hidden;
    min-width: 320px;
}

