@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBMPlexSans-Bold'), url('../fonts/IBMPlexSans-Bold.woff2') format('woff2'),
        url('../fonts/IBMPlexSans-Bold.woff') format('woff'),
        url('../fonts/IBMPlexSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBMPlexSans-SemiBold'), url('../fonts/IBMPlexSans-SemiBold.woff2') format('woff2'),
        url('../fonts/IBMPlexSans-SemiBold.woff') format('woff'),
        url('../fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBMPlexSans-Medium'), url('../fonts/IBMPlexSans-Medium.woff2') format('woff2'),
        url('../fonts/IBMPlexSans-Medium.woff') format('woff'),
        url('../fonts/IBMPlexSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBMPlexSans-Regular'), url('../fonts/IBMPlexSans-Regular.woff2') format('woff2'),
        url('../fonts/IBMPlexSans-Regular.woff') format('woff'),
        url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// ========================================       SERIF       ==========================================

@font-face {
    font-family: 'IBMPlexSerif-medium';
    src: local('IBMPlexSerif-Medium'), url('../fonts/IBMPlexSerif-Medium.woff2') format('woff2'),
        url('../fonts/IBMPlexSerif-Medium.woff') format('woff'),
        url('../fonts/IBMPlexSerif-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
