@use 'variable' as *;


%menu-text-base {
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 24px;
    letter-spacing: clamp(0em, -0.2171em + 0.3958vw, 0.19em);
    color: $first-letter-color-1;
    font-weight: 500;
}


%button-base {
    padding: 8px 32px;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 24px;
    letter-spacing: 0.19em;
    font-weight: 500;
    border-radius: 45px;
    cursor: pointer;
}

%title {
    line-height: 45.5px;
    font-family: 'IBMPlexSerif-medium';
    font-weight: 500;
    font-size: clamp(2.25rem, 1.9643rem + 0.5952vw, 2.5rem);
    @media (max-width: 629px) {
                font-size: 1.5rem;
                letter-spacing: 0;
                line-height: 26px;
            }
}

%list {
    font-size: clamp(1rem, 0.8571rem + 0.2976vw, 1.125rem);
    font-weight: 400;
    line-height: 28px;
    color: $second-letter-color-1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    position: relative;
    > li {
        position: relative;
    }
    ::before {
        content: '-';
        position: absolute;
        left: -20px; 
    }
}
