// ========================= BACKGROUND ============================

$blue-bg-color: rgba(222, 238, 252, 1); // первый и последний cлайс
$green-bg-color: rgba(216, 241, 240, 1); // второй, третий, четвертый слайс
$dark-bg-color: rgba(6, 18, 36, 1); // футер
$white: #ffffff;

// ========================= LETTER COLORS ============================

$first-letter-color-1: #1C283A; // 1 слайс вверх, 3 слайс карты, 5 слайс низ, 6 слайс вверх
$first-letter-color-2: #1F2A3A; // 1 cлайс снизу, 3 слайс вверх, 4 слайс, 5 слайс вверх
$second-letter-color-1: #1B2938; // 2 cлайс сверху, 3 снизу, 4 слайс по середиине и карты
$second-letter-color-2: #1B2939; // 2 cлайс снизу тонкие
$second-letter-color-3: #061224; // 2 слайс снизу жирные
$third-button-letter-color-1:#EBF5F6; // 3 слайс
$footer-letter-color-1: #6A717C;
$footer-letter-color-2: #CDD0D3;
$blue-color: #1064E5; // кнопки и тд
$grey-color: #5D6A7B;


