@use '../variable' as *;
@use '../fonts' as *;
@use '../defaults' as *;
@use '../mixin' as *;

.slice7 {
    background-color: $white;
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    overflow: hidden;

    &_top {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        align-items: center;
        padding-top: 56px;

        > h1 {
            @extend %title;
            line-height: 48px;
            letter-spacing: 0;
            color: $first-letter-color-2;
            text-align: center;
        }

        > p {
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 33px;
            color: $first-letter-color-2;
            text-align: center;
        }

        > form {
            display: flex;
            align-items: center;
            margin-bottom: 98px;

            > input {
                width: 399px;
                height: 50px;
                border: 1px solid $blue-color;
                border-radius: 37px;
                margin-right: 18px;
                padding: 14px 24px;
                overflow: hidden;
                position: relative;
                left: -3px;
                top: 0px;
                line-height: 24px;
                letter-spacing: 0.19em;
                font-size: 1rem;
                &:focus {
                    border: 2px solid $blue-color;
                    padding: 13px 23px;
                }

                &:active {
                    border: 2px solid $blue-color;
                    padding: 13px 23px;
                }
            }

            > button {
                background-color: $blue-color;
                border-radius: 41px;
                letter-spacing: 0.19em;
                font-weight: 400;
                line-height: 24px;
                color: $white;
                padding: 14px 34.5px;
                border: 0px;
            }
        }
    }

.footer {
    padding: 56px 0 64px;
    background-color: $dark-bg-color;
    &__top {
        display: flex;
        justify-content: space-between;
        
    }
    &__col {
        max-width: 533px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        
        
        &__logo {
            width: 130px;
            height: 40px;
            > img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &-right > div {
            max-width: 256px;
            width: 100%;
            > a {
                text-decoration: none;
                color: $white;
                font-weight: 500;
                font-size: 0.875rem;
            }
        }
    }
    &__list {
        max-width: 235px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        @media (max-width:800px) {
            flex-direction: column;
            justify-content: flex-start;
            max-width: 115px;
        }
        &-link {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            color: $white;
            font-weight: 500;
            font-size: 0.875rem;
            gap: 10px;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 6px;
        > .footer__info-item,
        address {
            font-weight: 400;
            font-size: 0.875;
            color: $footer-letter-color-2;
            text-decoration: none;
            font-style: normal;
        }
    }
    &__copyright {
        display: flex;
        margin-top: 16px;
        gap: 227px;
        :last-child {
            display: flex;
            gap: 54px;
        }
        .copyright-text {
            text-decoration: none;
            color: $footer-letter-color-1;
            line-height: 24px;
            font-size: 0.75rem;
        }
    }
}
}

#up {
    display: none;
    width: 52px;
    height: 60px;
    @media (max-width:768px) {
        display: inline-block;
    }
}